<!--div style=" border: 1px black solid;">
<h2 style="padding-left:2px;">News and Updates</h2>
<ul>
<li><a href="https://picasaweb.google.com/scipy.in">SciPy.in 2011 - Image Gallery</a></li>
<li><a href="http://t.co/tA80aqTD">Recordings of SciPy.in 2011 Talks</a></li>
<hr/>
<h3 style="padding-left:2px;"> Documents of Aid</h3>
<li> <a href="/static/files/Reaching_IITB.pdf">This</a> can help you in Reaching IITB.</li>
<li> <a href="/static/files/Inside_IITB.pdf">Marauders Map</a></li>
<li> Once you are inside <a href="/static/files/Other_Facilities.pdf">this</a> might be handy.</li>
</ul>
</div-->
<div id="right-inner">
  <h2>Organizers</h2>
  <p><ul>
    <li><a href="/scipyin/2011/about/sponsors/">
    <img src="/static/img/fossee.jpg" alt="FOSSEE Logo" title="FOSSEE Logo"
    width="220" /></a></li>
  </ul></p>
  <h2><strong>Sponsors</strong></h2>
  <p><ul>
  	<li><a href="/scipyin/2011/about/sponsors/">
    <img src="/static/img/mhrd_logo.png" alt="MHRD Logo"
    title="MHRD Logo" width=220/><br/></a></li>
    <li><a href="/scipyin/2011/about/sponsors/">
    <img src="/static/img/enthought_logo.png" alt="Enthought Logo"
    title="Enthought Logo"  width="220"/><br/></a></li>
  </ul></p>
  <h2><strong>Venue</strong></h2>
  <p><ul>
    <li><a href="/scipyin/2011/about/sponsors/">
    <img src="/static/img/iitb_logo.jpg" height=160 alt="IIT-B Logo"
    title="IIT-B Logo"  /><br/></a></li>
  </ul></p>
</div>
