<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% endblock %} SciPy.in 2012, December 27 - 29, 2012, IIT Bombay, India</title>

  <link rel="stylesheet" type="text/css" href="/static/css/jquery.jgrowl.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-lightness/jquery-ui-1.7.3.custom.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/styles-20100720.css" />

  <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery-ui-1.7.3.custom.min.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.jgrowl_minimized.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.cookie.pack.js"></script>
  <script type="text/javascript" src="/static/js/kiwipycon.js"></script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26098261-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  {% block addscripts %}{% endblock %}

  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

  <!--<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds/blog" />-->

</head>
<body>

<div id="logo" class="jumbotron subhead">
<div id="social-badge">
    	<a href="http://twitter.com/scipydotin" target="_blank"><img src="/static/img/twitter.png" alt="Twitter" Title="Connect to us of Twitter" style="border-style:solid; border-width:1px; border-color:white; border-radius:5px;" /></a>
    	<a href="https://www.facebook.com/scipydotin2011" target="_blank"><img src="/static/img/facebook.png" alt="Facebook" Title="Connect to us of Facebook" style="border-style:solid; border-width:1px; border-color:white; border-radius:5px;" /></a>
    </div>
    <div id="header">
        
  <center><table>
  <a href="/"><tr><td rowspan=2><img src="/static/img/scipyshiny_small.png" alt="SciPy.in Logo" title="SciPy.in Logo" width="190" height="180" /></a>
  {% block header %}
    <td><br><font size="8">SciPy.in 2012</font>
    <tr><td><font size="5">December 27 - 29, IIT Bombay, India</font>
    </table></center>
  {% endblock %}
    
    
  <!--{% include '_menu_user.html' %}-->
</div>
    
</div>


<div id="wrapper">
  <div id="left">
  {% include '_menu.html' %}
  </div>
  <div id="content">
  {% if user.is_authenticated %}
      {% include 'user/_usermenu.html' %}
  {% endif %}

    {% block content %}{% endblock %}
  </div>
  <div id="right">
  {% include '_right_menu.html' %}
  </div>
</div>

<div id="footer">
   <p rel="credits">Content by the <a href="/about/team/" alt="SciPy.in Team">SciPy.in Team</a>,
   website by <a href="http://hg.fossee.in/scipycon/file/tip/AUTHORS" alt="Website's Creators">FOSSEE using Kiwi Djangonauts original code</a>,
   hosting by <a href="http://fossee.in/" alt="Free and Open Source software in Science and Engineering Education">Free and Open Source software in Science and Engineering Education</a>,
   Rants, Bugs and Flames to: <a href="mailto:admin@scipy.in">admin@scipy.in</a>
   </p>
</div>

</body>
</html>
