{% extends "base.html" %}
{% block content %}
<h1>Downloads</h1>
<div class="entry">
    <h2>This might help you to reach at IIT Campus ! <a href="/static/files/Reaching_IITB.pdf" style="color:red;"><u>Download</u></a></h2>
    <h2>This might help you once you are inside the Campus ! <a href="/static/files/Inside_IITB_Campus.pdf" style="color:red;"><u>Download</u></a></h2>
    <h2>Information regarding Near-by Hospitals, Canteens, General Stores, ATMs and other Emergency contact numbers
<a href="/static/files/in&aroundcampus.pdf" style="color:red;"><u>Download</u></a></h2>
</div>
{% endblock content %}
