{% extends "base.html" %}
{% block content %}


<style>
.tdstyle
{
    width:400px;
    height:25px;    
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}
</style>

<h1>SciPy.in Schdule </h1>
<h3>DAY 1</h3>
<table name=main>
<tr bgcolor="lightgreen">
    <th class=tdstyle>Time
    <th class=tdstyle>Speaker
    <th class=tdstyle>Detail
    <tr>
    <td class=tdstyle>8:30 - 9:30	<td class=tdstyle colspan=2><b>Registration</b>
    <tr>
    <td class=tdstyle>9:30 - 11:00 <td class=tdstyle>Puneeth Chaganti, Prashant	<td class=tdstyle>Basic Python, IPython, numpy, scipy, matplotlib
    <tr>
    <td class=tdstyle>11:00 - 11:30	<td class=tdstyle colspan=2><b>Tea break</b>
    <tr>
    <td class=tdstyle>11:30 - 13:00 <td class=tdstyle>Puneeth Chaganti, Prashant	<td class=tdstyle>Basic Python, IPython, numpy, scipy, matplotlib
    <tr>
    <td class=tdstyle>13:00 - 14:00 <td class=tdstyle colspan=2><b>Lunch</b>
    <tr>
    <td class=tdstyle>14:00 - 15:00	<td class=tdstyle>Prabhu Ramchandran <td class=tdstyle>Basic 3D viz with Mayavi
    <tr>
    <td class=tdstyle>15:00 - 16:00	<td class=tdstyle>Ole Nielsen <td class=tdstyle>Geoprocessing with Python
    <tr>
    <td class=tdstyle>16:00 - 16:30	<td class=tdstyle colspan=2><b>Tea break</b>
    <tr>
    <td class=tdstyle>16:30 - 17:30	<td class=tdstyle>Ole Nielsen	<td class=tdstyle>Geoprocessing with Python
    <tr>
    <td class=tdstyle colspan=3><b>End of DAY 1</b>
</tr>
</table>

<h3>DAY 2</h3>
<table name=main>
<tr bgcolor="lightgreen">
    <th class=tdstyle>Time
    <th class=tdstyle>Speaker
    <th class=tdstyle>Detail
    <tr>
    <td class=tdstyle>8:30 - 9:00	<td class=tdstyle colspan=2><b>Registration</b>
    <tr>
    <td class=tdstyle>9:00 - 11:00<td class=tdstyle>Ajith Kumar <td class=tdstyle>Python for experiments in Physics
    <tr>
    <td class=tdstyle>11:00 - 11:30<td class=tdstyle colspan=2><b>Tea Break</b>
    <tr>
    <td class=tdstyle>11:30 - 1:00 <td class=tdstyle>Prabhu Ramchandran/Puneeth	<td class=tdstyle>ETS Intro/Cython?
    <tr>
    <td class=tdstyle>13:00 - 14:00 <td class=tdstyle colspan=2><b>Lunch</b>
    <tr>
    <td class=tdstyle>14:00 - 14:15 <td class=tdstyle>Prabhu Ramachandran	<td class=tdstyle>Inauguration
    <tr>
    <td class=tdstyle>14:15 - 15:15 <td class=tdstyle>Ole Nielsen <td class=tdstyle>Keynote
    <tr>
    <td class=tdstyle>15:15 - 15:45 <td class=tdstyle colspan=2><b>Tea break</b>
    <tr>
    <td class=tdstyle>15:45 - 16:05 <td class=tdstyle>Kannan <td class=tdstyle>NME ICT talk
    <tr>
    <td class=tdstyle>16:05 - 16:45 <td class=tdstyle>Srikant and Sachin <td class=tdstyle>Akash and Python: Py in the Sky
    <tr>
    <td class=tdstyle>16:45 - 17:05 <td class=tdstyle>Saket Choudhary <td class=tdstyle>Scilab on Cloud
    <tr>
    <td class=tdstyle>17:05 - 17:15 <td class=tdstyle>Ole <td class=tdstyle>Closing
    <tr>
    <td class=tdstyle colspan=3><b>End of DAY 2</b>
</tr>
</table>

<h3>DAY 3</h3>
<table name=main>
<tr bgcolor="lightgreen">
    <th class=tdstyle>Time
    <th class=tdstyle>Speaker
    <th class=tdstyle>Detail
    <tr>
    <td class=tdstyle>9:00 - 9:15 <td class=tdstyle>Jarrod Millman <td class=tdstyle>Inauguration
    <tr>
    <td class=tdstyle>9:15 - 10:15 <td class=tdstyle>Ajith <td class=tdstyle>
    <tr>
    <td class=tdstyle>10:15 - 10:45 <td class=tdstyle colspan=2><b>Tea break</b>
    <tr>
    <td class=tdstyle>10:45 - 11:20 <td class=tdstyle>Ami Tavory  <td class=tdstyle>Scientific Data Analysis Pipelines: Push, Pull, React, Or Schedule?
    <tr>
    <td class=tdstyle>11:20-11:40 <td class=tdstyle>Archana Harad et al. <td class=tdstyle>SCRABLELIGHT: AN EDUCATIONAL GAME, DEVELOPED IN PYTHON
    <tr>
    <td class=tdstyle>11:40-12:10 <td class=tdstyle>Jaidev Deshpande <td class=tdstyle>Time-Frequency Analysis with Python
    <tr>
    <td class=tdstyle>12:10-12:35 <td class=tdstyle>Prasanta Mohapatra et al. <td class=tdstyle>OCAMSS– An Open source Platform for Multidisciplinary Structural Sizing of Composite Aircraft Wing.
    <tr>
    <td class=tdstyle>12:35-13:00 <td class=tdstyle>Priyank Tiwari <td class=tdstyle>Free chemical process simulator toolkit using SciPy
    <tr>
    <td class=tdstyle>13:00 - 14:00 <td class=tdstyle colspan=2>Lunch	
    <tr>
    <td class=tdstyle>13:40 - 14:00 <td class=tdstyle>Madhu Sharma <td class=tdstyle>Python based implementation of a chaos based cryptosystem using external key
    <tr>
    <td class=tdstyle>14:00 - 14:33 <td class=tdstyle>(Multiple) <td class=tdstyle>Pecha Kucha style
    <tr>
    <td class=tdstyle>14:40 - 15:00 <td class=tdstyle>Smarth Shah <td class=tdstyle>Raspberry Pi and Scientific Computing
    <tr>
    <td class=tdstyle>15:00 - 15:30 <td class=tdstyle colspan=2>Tea break
    <tr>
    <td class=tdstyle>15:30 - 15:50 <td class=tdstyle>Kunal Puri <td class=tdstyle>Wrapping Zoltan with Cython
    <tr>
    <td class=tdstyle>15:50 - 16:10 <td class=tdstyle>Shubham Chakraborty <td class=tdstyle>Python in School Education
    <tr>
    <td class=tdstyle>16:10 - 16:30 <td class=tdstyle>Krishnakant Mane <td class=tdstyle>Python as the first language
    <tr>
    <td class=tdstyle>16:30 - 16:50 <td class=tdstyle>Krishnakant Mane <td class=tdstyle>GNUKhata a case study for Python developers
    <tr>
    <td class=tdstyle>16:50 - 17:00 <td class=tdstyle>Abdulmajid Ansari <td class=tdstyle>Enhancing Open Source Blender 3D for Structural Analysis Using Python Tool
    <tr>
    <td class=tdstyle>17:00 - 17:10 <td class=tdstyle>Abdulhamid Ansari	<td class=tdstyle>Free 3D Jewelry Modeling Software using Python Scripting Tool in Blender
</table>

<script>
var main = document.getElementsByName('main');

for (var j=0;j<main.length;j++)
{
    var trs = main[j].getElementsByTagName('tr');
    for (var i=1;i<trs.length;i++)
    {
        if(i%2==0)
        {
            trs[i].style.backgroundColor = "#1E90FF";
            trs[i].style.color = "#E0FFFF"
        }
        else
        {
            trs[i].style.backgroundColor = "#E0FFFF";
            trs[i].style.color = "#1E90FF"
        }
    }
}
</script>
{% endblock content %}
