{% extends "base.html" %}
{% block content %}
<h1>List of the Accepted Abstracts</h1>

<style>
th
{
    font-size:18px;
}
.tdstyle
{
    width:500px;
    height:30px;    
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}
.tdstyle1
{
    width:200px;
    height:30px;    
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}
</style>

<table name=main>
<tr bgcolor="C6E2FF">
    <th class=tdstyle1>Speaker
    <th class=tdstyle>Detail
    <tr>
    <td class=tdstyle1>Srikant and Sachin <td class=tdstyle>Akash and Python: Py in the Sky
    <tr>
    <td class=tdstyle1>Saket Choudhary <td class=tdstyle>Scilab on Cloud
    <tr>
    <td class=tdstyle1>Ami Tavory  <td class=tdstyle>Scientific Data Analysis Pipelines: Push, Pull, React, Or Schedule
    <tr>
    <td class=tdstyle1>Ambuja Salgaonkar et al. <td class=tdstyle>SCRABLELIGHT: AN EDUCATIONAL GAME, DEVELOPED IN PYTHON
    <tr>
    <td class=tdstyle1>Jaidev Deshpande <td class=tdstyle>Time-Frequency Analysis with Python
    <tr>
    <td class=tdstyle1>Prasanta Mohapatra et al. <td class=tdstyle>OCAMSS– An Open source Platform for Multidisciplinary Structural Sizing of Composite Aircraft Wing.
    <tr>
    <td class=tdstyle1>Priyank Tiwari <td class=tdstyle>Free chemical process simulator toolkit using SciPy
    <tr>
    <td class=tdstyle1>Madhu Sharma <td class=tdstyle>Python based implementation of a chaos based cryptosystem using external key
    <tr>
    <td class=tdstyle1>Smarth Shah <td class=tdstyle>Raspberry Pi and Scientific Computing
    <tr>
    <td class=tdstyle1>Kunal Puri <td class=tdstyle>Wrapping Zoltan with Cython
    <tr>
    <td class=tdstyle1>Shubham Chakraborty <td class=tdstyle>Python in School Education
    <tr>
    <td class=tdstyle1>Krishnakant Mane <td class=tdstyle>Python as the first language
    <tr>
    <td class=tdstyle1>Krishnakant Mane <td class=tdstyle>GNUKhata a case study for Python developers
    <tr>
    <td class=tdstyle1>Abdulmajid Ansari <td class=tdstyle>Enhancing Open Source Blender 3D for Structural Analysis Using Python Tool
    <tr>
    <td class=tdstyle1>Abdulhamid Ansari	<td class=tdstyle>Free 3D Jewelry Modeling Software using Python Scripting Tool in Blender
    <tr>
    <td colspan=2 class=tdstyle1 style="font-size:18px;">Pecha Kucha style
    <tr>
    <td class=tdstyle1>Ashish Ku Sharma <td class=tdstyle>Design of Analytic Hierarchy Process Algorithm and Its Application for Vertical Handover in Cellular Communication
    <tr>
    <td class=tdstyle1>Ashish Sharma <td class=tdstyle>A simple Python based tool for preparing Randomized multi-set  multiple choice question papers
    <tr>
    <td class=tdstyle1>Arjun Sanu <td class=tdstyle>Simulation of Standalone Photo Voltaic System using Python
    <tr>
    <td class=tdstyle1>Satish Annigeri <td class=tdstyle>Steady State Analysis of Autonomous Wind Energy Conversion System employing Induction Machines For Irrigation purpose  
    <tr>
    <td class=tdstyle1>Gajanan <td class=tdstyle>Solving differential equation with graphical data Visualization using Python
</tr>
</table>

<h3>For details & Schedule, <a href="/{{ params.scope }}/talks-cfp/schedule/">Click Here</a></h3>

<script>
var main = document.getElementsByName('main');

for (var j=0;j<main.length;j++)
{
    var trs = main[j].getElementsByTagName('tr');
    for (var i=1;i<trs.length;i++)
    {
        if(i%2==0)
        {
            trs[i].style.backgroundColor = "#C6E2FF";
            trs[i].style.color = "#003F87"
        }
        else
        {
            trs[i].style.backgroundColor = "white";
            trs[i].style.color = "#003F87"
        }
    }
}
</script>
{% endblock content %}
