{% extends "base.html" %}
{% block content %}
<div class="entry">
<h1><strong>Contact us</strong></h1>
<h2>For any queries regarding registration, accomodation or any other issues, please feel free to contact any of the following.</h2>
    <li>
    Anand Raj Ramachandran <br/>
    Phone No: +919699323506 <br/>
    Email id: anand@fossee.in <br/>
    </li>
    <br/><br/>
    <li>
    Jay Parikh <br/>
    Phone No: +918879261813 <br/>
    Email id: jay@fossee.in <br/>
    </li>
    <br/><br/>
    <li>
    Hardik Ghaghada <br/>
    Phone No: +918879261812 <br/>
    Email id: hardik@fossee.in <br/>
    </li>
    <br/><br/>
    <li>
    Deepak Kharat <br/>
    Phone No: +919819650310 <br/>
    Email id: deepak@fossee.in <br/>
    </li>
    <br/><br/>
</div>
{% endblock content %}
