{% extends "base.html" %}
{% block content %}
<div class="entry">
<h1><strong>Contact us</strong></h1>
<br/>
<h2>For any queries regarding registration, accomodation or any other issues, please feel free to contact any of the following.</h2>
<br/><br/>
    <li>
    Anand Raj Ramachandran <br/>
    Phone No: +919699323506 <br/>
    Email id: anand@fossee.in <br/>
    </li>
    <br/><br/>
    <li>
    Parth Buch <br/>
    Phone No: +919619606610 <br/>
    Email id: parth@fossee.in <br/>
    </li>
    <br/><br/>
    <li>
    Primal Pappachan <br/>
    Phone No: +919920149265 <br/>
    Email id: primal@fossee.in <br/>
    </li>
    <br/><br/>
    <li>
    Deepak Kharat <br/>
    Phone No: +919819650310 <br/>
    Email id: deepak@fossee.in <br/>
    </li>
    <br/><br/>
</div>
{% endblock content %}
