{% extends "base.html" %}
{% block content %}
<div class="entry">

<h3>The Penultimate day</h3>
<p>
If you have previously organized an event or a conference, you would know that the busiest day is just the day before the event. After having worked for almost 4 months for this event, we(FOSSEE team) had a few last minute tasks to be done before the day ends. Writing this post was one of them and sitting down to write it at the end of day, in a way shows that every important task has been completed.
</p> 
<p> 
The first priority of the day was to finalize the schedule of the event. This took a bit longer than previously thought but we finally completed it by evening. If you haven't seen it already, have a look at the talks happening tomorrow and the day after. If you love either Science or Python or Both, you would be committing a sin by being not at SciPy India 2011 for the next 4 days. By afternoon, participants started pouring into IIT Bombay for the event. The registration desk at main gate, managed by Anand, Kiran, Harish, Yogesh, Manas and others, guided people to their accomodation facilities. We had already prepared this and this which would really come in handy if you are new at IITB.
</p>
<br/><br/>
<img  align="center" src="/static/img/reg-desk1.jpg" title="Near the main gate" height="200" width="300" />
<br/><br/>
<p>
While the other set of the team was busy in the lab, preparing the packages for the participants which contains various information pamphlets, notepad, a pen and food coupons for all of the days. It took hours to complete the job and the efforts of Srikant, Sushma and Priya deserves a special mention here.
</p> 
<img align="center" src="/static/img/packing.jpg" title="Getting things ready" height="200" width="300" />
<br/><br/>
<p>
Getting back to the event, it kicks off with the Keynote by Eric Jones, CEO of Enthought, talking on "What Matters in Scientific Software Projects? 10 Years of Success and Failure Distilled". All the talks in the schedule are promising and if you are low on time, talks by Invited Speakers -  Mateusz Paprocki, Ajith Kumar and Prof. Prabhu Ramachandran are something you definitely wouldn't want to miss.
</p>
<p><h3>Follow this space for more live updates from the conference.</h3></p>
{% endblock content %}
