{% extends "base.html" %}
{% block content %}
<div class="entry">

<p>
Welcome to SciPy India 2011. If you are in IIT Bombay and would like to listen to the talks at the conference without paying a penny, please feel free to drop by the venue. You would be missing the awesome food and tshirt though.
</p>
<p>
The day started with <b>Prof. Prabhu Ramachandran</b> gave an introduction on the conference and a briefing on how it all started in the year 2009. It was followed by keynote by <b>Eric Jones</b> on <b>What matters in Scientific Software Projects? 10 years of Success and Failure Distilled</b>. Below are few of the main points of his keynote were about the requirements for a successful project. <br/>
</p>

<li><p> Smart People</p></li>
<li> <p>Trust and Communication</p></li>
<li><p>Choosing where we have to pioneer</p></li>

<p>
Next <b>Ankur Gupta</b> talked about the <b>Multiprocessing module and Gearman</b> and showed live code review of multiprocessing in Python can improve the performance of the program in multiprocessor machines. He also pointed out the logger and debugging modules. 
</p>

<p>
<b>Kunal Puri</b> introduced the PySPH module in his talk on <b>Smoothed Particle Hydrodynamics with Python</b>. He progressed onto explaining the architecture of PySPH and it's underlying modules. The demos on the collision of two elastic balls and a breaking dam showcased the power of this package.
</p>

<p>
Afterwards <b>Mateusz Paprocki</b> talked on <b>Understanding importance of automated software testing.</b> He started with explaining the need of software testing and went onto show various methods of verification of computer programs like manual, automated and formal with each of them having it's share of pros and cons. The clarification that automated testing requires human assistance removed the aura of being autonomous from it.
</p>

<p>The approaches to software testing are White box testing, Black box testing, Bottom up testing and top down testing. Program testing guidelines are to start with Defining the expected result, A programmer or an organization should test his/their own programs etc. Most of them can found in Software Engineering textbooksf. Software testing frameworks in Python are

<li><p>unitest</p></li>
<li><p>py.test(*)</p></li>
<li><p>nose</p></li>

<p>
For testing interactive web application, Selenium could be used. He pointed out that 100% coverage doesn't imply program is perfect. It doesn't test for correctness of code or conformance to specification.
</p>
</p>

<p>
The next talk by Invited Speaker <b>Ajith Kumar</b> on his project <b>expEYES</b> was novel to many in audience. He started with explaining how the idea stemmed from lack of equipment for students to experiment. expEyes would be useful for students, teachers, engineers and hobbyists. The statistics showed that around 800 units has been sold and it has been included in syllabus of some universities. His efforts in making experimentation in education popular has to be really appreciated. He demoed an array of Physics(electrical/sound) experiments doable with expEYES and it's amazing to see that what can be done with this inexpensive board. You can get the brochure of expEYES from the technical desk near the stage.
</p>

<p>
<b>Sentiment Analysis</b> by <b>Bala Subramaniam</b> was next in the queue. He introduced Sentiment Analysis and went on to his demo of using it to analyze the telugu movie reviews from a website. The usage of a Naive Bayes Classifier to identify the positive, neutral and negative opinions was explained. The model used to analyze the movie review was well explained and pointed out the techniques of Natural Language Processing and Machine learning running behind it.  
</p>

<p> 
What's a scientific python conference without a talk on image processing? <b>Jayleil Dalal</b> filled that void with his detailed talk on <b>Building Embedded Systems for Image Processing using Python</b>. He explained about OpenCV, an Open Source python library for image processing and the various hardware systems he used for the same. You can check out his youtube channel for more tutorials on the same. 
</p>

<p>
Afterwards, <b>Prof. Prabhu Ramachandran</b> talked about <b>FOSSEE: Python and Education</b>. He gave a breifing over the achievment of FOSSEE like workshops, conferences and later talked about the experience building a django app for the purpose of evaluation of answers of 650 users for 1000 Teacher's training program.
</p>

<p>
<b>William Natharaj</b> talked about his physics project <b>Automated Measurement of Magnetic properties of Ferro-Magnetic materials using Python</b> which used Python extensively for data processing. expEYES was used for data colllection from the circuit.
</p>

<p>
<b>Nivedita Datta</b> presented the session about the Python module PyCrypto in her talk titled <b>Encryptedly yours : Python & Cryptography.</b> She talked in detail about the following encrpytion techniques.
<li><p>AES encrpytion</p></li>
<li><p>ARC 4 - Private key stream cipher</p></li>
<li><p>RSA</p> </li>
</p> 
<p>
The day concluded with <b>a lightning talk on Virtual Labs</b>. Looking forward to seeing you at the second day of the conference.
</p>
{% endblock content %}
