{% extends "base.html" %}
{% block content %}
<h1>Important dates for <strong>Call for Papers</strong></h1>
<div class="entry">
  <p><ul class="entry">
    <li>Call for proposals start: 27th September 2012, Thursday</li>
	<li>Call for proposals end: 15th November 2012, Thursday</li>
	<li>List of accepted proposals will be published: 19th November 2012, Monday</li>
	<li>Submission of first presentation: 10th December 2012, Monday</li>
	<li>Submission of final presentation(with final changes): 20th December 2012, Thursday</li>
  </ul></p>
</div>
{% endblock content %}
