{% extends "base.html" %}
{% block content %}
<div class="entry">

<h3>Speaker Tips</h3>
<p>
If you are a speaker at SciPy India 2011, here are a few tips that might be handy.
</p>
	
<p>
<b>Session Setup</b><br/>
Please arrive at the venue(VMCC Hall) at least 30 minutes in advance to prepare for the talk. This may also help you to get a feel of the venue and the audience.
</p>

<p>
<b>Plan B</b><br/>
All participants will be provided Wi-Fi access. But you are requested to have a Plan B for Internet, in case things go wrong; which usually happens at every conferences. We don't want this to disrupt your talk.
</p>

<p>
<b>Timing is Everything</b><br/>
Please have a final look at the <a href="/scipyin/2011/talks-cfp/conference/">schedule</a> and make sure of the length of your talk. We would suggest you to keep a buffer of at least 3 mins for Q & A from the audience. Make sure that you don't run out of the allotted time. If you need reminders, Volunteers can aid you.
</p>

<p>
<b>Help Abounds</b><br/>
Need help? Look out for the friendly organizers or folks(who would be wearing a blue tag) for any assistance. Just contact Kiran Kishore(07702455566) or Parth Buch(9619606610) if you don't find anyone immediately.
</p>

<p>
<b>Rehearse, Rehearse, Rehearse! </b><br/>
We know this goes without saying, reiterating this step would help in more ways than imagineable.
</p>

<p>
Looking forward to seeing to you at the conference.
</p>

<p>
<i>Snake Charmer</i>
</p>
</div>
{% endblock content %}
