{% extends "base.html" %}
{% block content %}
<div class="entry">
<h1><strong>Sponsors</strong></h1>
<br/>
  <p>
    <img src="/static/img/fossee.jpg" alt="FOSSEE Logo" title="FOSSEE Logo"
    height="90" /><br/><br/>
    <a href="http://fossee.in">FOSSEE</a> is the main sponsor and organizer 
    of SciPy.in 2011. They initiated an Indian edition of the popular
    SciPy conference in 2009, in order to encourage the use of Python
    for Scientific Computing in Asia. The goal of the FOSSEE project is to
    enable the students and faculty of Science and Engineering
    colleges/institutes/universities across India to use open source software
    tools for all their computational needs, thereby improving the quality of
     instruction and learning.
    <br/><br/><br/><br/>
    <img src="/static/img/enthought_logo.png" alt="Enthought Logo"
    title="Enthought Logo" /><br/><br/>
    <a href="http://www.enthought.com/">
    Enthought, Inc.</a> is the supplementary sponsor for SciPy.in 2011.
    They provide scientific computing solutions through software
    development, consulting, and training. They use Python significantly 
    for most of their projects, and work closely with many of the leading
    Python developers involved with scientific computing.
</div>
{% endblock content %}
