{% extends "base.html" %}
{% block content %}
<h1>SciPy.in 2011 Schedule</h1>
<p>SciPy.in is a 4-day programme from December 4th upto December 7th, of 2011
comprising of two days of conference, one day of tutorials followed by corresponding sprints and a day dedicated completely to sprints.</p>


    <strong>Over all break up of activites</strong>

    <table cellspacing="5">
      <tr> <td align=center><strong>Date</strong></td><td><strong>Activity</strong></td> </tr>
      <tr > <td align=right>Sunday, Dec. 04 2011</td><td><a href="/{{ params.scope }}/talks-cfp/conference/">Conference</a></td> </tr>
      <tr> <td align=right>Monday, Dec. 05 2011</td><td><a href="/{{ params.scope }}/talks-cfp/conference/">Conference</a></td> </tr>
      <tr> <td align=right>Tuesday, Dec. 06 2011</td><td><a href="/{{ params.scope }}/tutorial/">Tutorials</a><!-- /<a href="/{{ params.scope }}/sprints/">Sprint</a> --></td> </tr>
      <tr> <td align=right>Wednesday, Dec. 07 2011</td><td><a href="/{{ params.scope }}/tutorial/">Tutorials</a><!-- /<a href="/{{ params.scope }}/sprints/">Sprint</a> --></td> </tr>
    </table>
<br />

{% endblock content %}
